body{
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.button1{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: 0% auto;
    top: 460px;
    left: 75px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.button2{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: 0% auto;
    top: 480px;
    left: 150px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.button3{
    height: 300px;
    width: 300px;
    background-color:black;
    border-radius: 50%;
    position: relative;
    margin: 0% auto;
    top: 480px;
    left: 250px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.button4{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: 0% auto;
    top: 480px;
    left: 350px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.button5{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: 0% auto;
    top: 480px;
    left: 400px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.button1:hover{
    background-color: silver;
    color: white;
}

.button2:hover{
    background-color: silver;
    color: white;
}

.button3:hover{
    background-color: silver;
    color: white;
}

.button4:hover{
    background-color: silver;
    color: white;
}

.button5:hover{
    background-color: silver;
    color: white;
}

.scoreboard{
    height: 100px;
    width: 300px;
    position: relative;
    margin: 0% auto;
    bottom: 200px;
    left: 40px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.options{
    height: 100px;
    width: 300px;
    position: relative;
    margin: 0% auto;
    bottom: 425px;
    right: 900px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.button6{
    position: relative;
    margin: 0% auto;
    bottom: 475px;
}

.winslosses{
    height: 100px;
    width: 300px;
    position: relative;
    margin: 0% auto;
    bottom: 125px;
    left: 40px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.player{
    height: 100px;
    width: 300px;
    position: relative;
    margin: 0% auto;
    bottom: 475px;
    right: 200px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.computer{
    height: 100px;
    width: 300px;
    position: relative;
    margin: 0% auto;
    bottom: 570px;
    left: 300px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif; 
}