body{
    background-color: lightblue;
}

.rectangle{
    height: 250px;
    width: 900px;
    background-color: beige;
    margin:0% auto;
    position: relative;
    top: 725px;
}

.button1{
    height: 225px;
    width: 225px;
    background-color: skyblue;
    border-radius: 50%;
    position: relative;
    margin: 0% auto;
    top: 490px;
    left: 280px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.button2{
    height: 225px;
    width: 225px;
    background-color: lightgreen;
    border-radius: 50%;
    position: relative;
    margin: 0% auto;
    top: 260px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.button3{
    height: 225px;
    width: 225px;
    background-color: lightcoral;
    border-radius: 50%;
    position: relative;
    margin: 0% auto;
    top: 40px;
    right: 275px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.square{
    height: 500px;
    width: 900px;
    background-color: beige;
    position: relative;
    margin:0% auto;
    bottom: 700px;
}